.accordion {
    margin: 50px;
}

.title {
    background: darkgray;
    padding: 5px 20px;
    width: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: .5px solid black;
}

h3 {
    margin: 0;
}

.text {
    width: 300px;
    padding: 15px 20px;
    display: none;
}

p {
    margin: 0;
}